<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Personal Site</title>
    <link rel="stylesheet" type="text/css" href="../style/about.css">
    <link rel="stylesheet" type="text/css" href="..//style/common/navbar.css">

</head>

<body>
    <div id="navbar">
        <a href="../index.html">
            <h3>Jiayi Lu</h3>
        </a>
        <nav>
            <nav>
                <a href="../index.html" class="active">Home</a>
                <a href="about.html" class="active" id="aboutpage">About</a>
                <a href="projects.html" class="active">Projects</a>
                <a href="contact.html" class="active">Contact</a>
            </nav>
        </nav>
    </div>

    <div class="container">
        
        
    </div>
</body>

</html>