<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Personal Site</title>
    <link rel="stylesheet" type="text/css" href="/style/about.css">
    <link rel="stylesheet" type="text/css" href="/style/common/navbar.css">

</head>

<body>
    <div id="navbar">
        <a href="/index.html">
            <h3>Jiayi Lu</h3>
        </a>
        <nav>
            <nav>
                <a href="/index.html" class="active">Home</a>
                <a href="../about/" class="active" id="aboutpage">About</a>
                <a href="../projects/" class="active">Projects</a>
                <a href="../contact/" class="active">Contact</a>
            </nav>
        </nav>
    </div>
      
      <div class="container">
        <section id="blog">
          <h2>My Blog</h2>
          <article>
            <h3>How to Build a Typing Animation in CSS</h3>
            <p class="blog-content">Here is the post I would like to share to you:</p>
            <a href= "https://blog.hubspot.com/website/typing-animation-css">Step-By-Step Guide for Creating a Typing Animation in CSS</a>
            <p class="blog-content">This article provides a step-by-step guide on how to use CSS animations 
                to create the effect of text being typed out on a web page. 
                The process involves defining a keyframe animation, using CSS selectors 
                to style the text, and adding some JavaScript to control the timing of the animation. 
                The author provides clear and concise code examples to help readers follow 
                along with the tutorial. And I believe that this article provides a helpful 
                tutorial for anyone looking to add some visual interest to their web pages 
                using CSS animations.</p>
            <p class="blog-content">The technique described in the article of creating a typing animation using 
                CSS is one of many visual effects that web developers can use to enhance 
                the user experience on their websites. As a relatively simple animation effect, 
                it demonstrate the power and flexibility of CSS animations and may inspire developers 
                to experiment with similar effects in their own projects. In general, the use of 
                CSS animations and other visual effects in web development is becoming increasingly 
                common as more and more websites aim to create engaging and interactive user 
                experiences. Based on CSS animations, we are likely to continue to explore and 
                experiment with new techniques for creating animations and other visual effects 
                using JavaScript and other technologies.</p>
          </article>
        </section>
        <hr class="divide" />

        <section id="interests">
          <h2>My Interests</h2>
          <h3>Let's explore the beautiful world with me!!!</h3>

          <h3>I love travelling^o^</h3>

          <div class="image-grid">
            <img class = "travel-pic" src="../style/image/WechatIMG533.jpeg" alt="Image 1">
            <img class = "travel-pic" src="../style/image/WechatIMG531.jpeg" alt="Image 2">
            <img class = "travel-pic" src="../style/image/WechatIMG526.jpeg" alt="Image 3">
            <img class = "travel-pic" src="../style/image/WechatIMG527.jpeg" alt="Image 4">
          </div>

        
        <h3>I love food^o^</h3>
          <div class="image-grid">
            <img class = "travel-pic" src="../style/image/food1.jpeg" alt="Image 1">
            <img class = "travel-pic" src="../style/image/food2.jpeg" alt="Image 2">
            <img class = "travel-pic" src="../style/image/food3.jpeg" alt="Image 3">
            <img class = "travel-pic" src="../style/image/food4.jpeg" alt="Image 4">
          </div>

          <h3>I love skiing^o^</h3>
          <div class="image-grid">
            <img class = "travel-pic" src="../style/image/WechatIMG538.jpeg" alt="Image 1">
            <img class = "travel-pic" src="../style/image/WechatIMG539.jpeg" alt="Image 2">            </div>
        </div>
        </div>
    
    </div>
        </section>
    </div>


</body>

</html>