<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Personal Site</title>
    <link rel="stylesheet" type="text/css" href="/style/projects.css">
    <link rel="stylesheet" type="text/css" href="/style/common/navbar.css">
    
</head>

<body>
    <div id="navbar">
        <a href="/index.html">
            <h3>Jiayi Lu</h3>
        </a>
        <nav>
            <nav>
                <a href="../../" class="active">Home</a>
                <a href="../about/" class="active">About</a>
                <a href="../projects/" class="activ" id="projectpage">Projects</a>
                <a href="../contact/" class="active">Contact</a>
            </nav>
        </nav>
    </div>

    <div class="main-content">

          <div class="project">
            <div class="time">Sep - Dec 2020</div>
  
            <div>
              <img
                src="https://kpu.pressbooks.pub/app/uploads/sites/4/2018/06/EPORTFOLIO.png"
                alt="ICON"
                class="icon"
              />
              <h1 class="project-header">
                ePortfolio System Platform</h1>
            </div>
            <img class = "screenshoot" src="../style/image/homepage20.png">
            <p >
              ● Implemented front end features by using React.js, Redux and Node.js, 
              and deployed to Heroku.
            </p>
            <p >
              ● Led and coordinated development utilizing Agile methodology 
              and professional collaboration software, such as Slack, Trello.
            </p>
            <p >
              ● Designed the UI prototype by using Adobe XD and used CSS 
              to realize the design.
            </p>
            <a
              class="fake-link"
              href="https://github.com/Joyce-JiayiLu/ePortfolio-Systems-Website"
              >GitHub Link Here</a>
          </div>
  
          <hr class="divide" />
  
          <div class="project">
            <div class="time">Aug - Nov 2020</div>
  
            <div>
              <img src="https://cdn-icons-png.flaticon.com/512/1838/1838764.png" alt="ICON" class="icon" />
              <h1 class="project-header">
                3D Toxic Frog Game</h1>
            </div>
            <img class = "screenshoot" src="../style/image/WechatIMG525.png">
            <p>
              ● Formulated and implemented core functionality of guard man control 
              and camera control in Unity 3D with C#.
            </p>
            <p >
              ● Implemented Diamond Square algorithm to generate 
              procedural terrain in Unity 3D with C#.
            </p>
            <p >
              ● Created custom HLSL shader to render 
              realistic surfaces and water for the game background.
            </p>
            <p>
                ● Simulated frog death effect utilizing a particle system.
              </p>
              <p >
                ● Implemented the Game User Interface for the whole game.
              </p>
            <a
              class="fake-link"
              href="https://www.youtube.com/watch?v=wFtr_1tfYuA"
              >YouTube Video Here</a
            >
          </div>
          <hr class="divide" />
  
          <div class="project">
            <div class="time">Mar - May 2020</div>
  
            <div>
              <img src="https://thumbs.dreamstime.com/z/doctor-old-patient-flat-line-icon-nurse-helping-grandmother-walk-vector-illustration-thin-sign-elderly-care-hospital-162267499.jpg" alt="ICON" class="icon" />
              <h1 class="project-header">
                Recruitment Platform for Dementia Patients
              </h1>
            </div>
            <img class = "screenshoot" src="../style/image/healthNextDoor.png">
            <p >
              ● Built a website to solve a challenge on OpenIDEO: how might we better 
              support family caregivers as they care for a loved one with dementia, 
              and mainly responsible for back-end development.
            </p>
            <p >
              ● Implemented back-end server by using Node.js, Express.js 
              for REST APIs, and integrated users' data by CRUD in MongoDB.
            </p>
            <p >
              ● Utilised JSON Web Token, Bcrypt.js, 
              Mocha and Chai elements to enhance the security and overall performance.
            </p>
            <a
              class="fake-link"
              href="https://github.com/Joyce-JiayiLu/Simply-Recruitment-Platform-for-Dementia-Patients"
              >GitHub Link Here</a
            >
          </div>

      </div>
</body>

</html>